h1 {
  font-family: "Shadows Into Light", cursive;
  color: #404040;
  font-size: 50px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  color: #262626;
  font-size: 25px;
}

#inputbox {
  width: 100px;
  background-color: #ffe6cc;
}

html {
  background-image: url("https://cdn.pixabay.com/photo/2019/12/22/17/13/snuggle-4713013_1280.jpg");
  background-color: #bfbfbf;
}

.completed {
  text-decoration: line-through;
}

.remove {
  float: right;
  cursor: pointer;
}
